<%- include('partials/header.ejs') %>

<div class="flex p-4">
  <p class="text-5xl p-2 font-bold md:w-2/3 lg:w-1/2">
    Free Resume Builder for modern job seekers
    <br />
    <span class="text-3xl text-gray-500">
      Boost your chances of landing the best job possible
    </span>
    <br/>
    <a
      href="/resume/new"
      class="text-blue-700 border-1 mt-2 pb-3 float-left border-black hover:text-blue-500"
    >
      <span class="text-2xl">Try it for free</span>
    </a>
  </p>

  <div
    class="md:w-1/3 p-1 mr-1 lg:w-1/2 lg:h-2/3 hidden md:block max-h-[500px]"
  >
    <a href="https://pngtree.com/so/Vector">
      <img src="/resources/—Pngtree—vector resume icon_4260240.png" />
    </a>
  </div>
</div>

<%- include('partials/footer.ejs') %>
