<%- include('partials/header.ejs') %>

<div class="flex mt-2 mx-10 mb-16">
  <span class="mt-2 mr-2">
    <svg
      width="28"
      height="32"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
    >
      <path
        d="M24 22.917h-24v-13.275l2-1.456v-7.269h20v7.272l2 1.453v13.275zm-21-10.472v-10.528h18v10.526l-9 5.474-9-5.472zm6-8.916l1.305 2.41 2.695.496-1.888 1.986.36 2.717-2.472-1.183-2.472 1.183.36-2.717-1.888-1.986 2.695-.496 1.305-2.41zm8 6.471v1h-3v-1h3zm2-2v1h-5v-1h5zm0-2v1h-5v-1h5zm0-2v1h-5v-1h5z"
      />
    </svg>
  </span>
  <div>
    <h1 class="text-4xl font-mono">Resume Builder</h1>
  </div>
</div>

<div class="flex p-4">
  <p class="text-5xl p-2 font-bold md:w-2/3 lg:w-1/2">
    Free Resume Builder for modern job seekers
    <br />
    <span class="text-3xl text-gray-500">
      Boost your chances of landing the best job possible
    </span>
    <br/>
    <a
      href="/resume/new"
      class="text-blue-700 border-1 mt-2 pb-3 float-left border-black hover:text-blue-500"
    >
      <span class="text-2xl">Try it for free</span>
    </a>
  </p>

  <div
    class="md:w-1/3 p-1 mr-1 lg:w-1/2 lg:h-2/3 hidden md:block max-h-[500px]"
  >
    <a href="https://pngtree.com/so/Vector">
      <img src="/resources/—Pngtree—vector resume icon_4260240.png" />
    </a>
  </div>
</div>

<%- include('partials/footer.ejs') %>
